In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

## Table of Contents

*  Introduction
* Data Wrangling
* Exploratory Data Analysis

## Introduction 
### Dataset Description
>One way to understand how a city government works is by looking at who it employs and how its employees are compensated. This data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.

## Question for Analysis

1. How have salaries changed over time?
2. what is the name of highest paid person?
3. what is the name of lowest paid person? 
4. what is average of basepay of all employees per year?
5. how many unique job title?

In [2]:
#import packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## Data Wrangling
>In this section of the report, we will load in the data, check for cleanliness, and then trim and clean our dataset for analysis.

In [3]:
# Load your data and print it
df = pd.read_csv("../input/sf-salaries/Salaries.csv")
df.head()

In [4]:
# display some information about data
df.info()

In [5]:
# display some statistics about data
df.describe().round(1)

## Obsevations
* the mean of tatal pay is 74768.3 and max total pay 567595
* there is a mistake some of salary in the database have negative number

## Data Cleaning
>Remove the duplicates in the rows(if any).

In [6]:
#display number of duplicated
print(df.duplicated().sum())

>Removing Unused columns

In [7]:
sns.heatmap(df.isna())

In [8]:
# create a list of unused cloumns
delete_col=[ 'Notes', 'Status']
#delete unused columns
df= df.drop(delete_col,1)

#display data after delete unused cloumns
df.head()

In [9]:
sns.heatmap(df.isna())

In [10]:
#display null values
df.isnull().sum()

In [11]:
df.dropna(subset=['BasePay'] ,inplace =True)

df.isnull().sum()

In [12]:
#display data types of column
df.dtypes

In [13]:
# change data type from string to float
df['BasePay']

## Exploratory Data Analysis
### a general look on the data

In [14]:
#diplay general look
df.hist(figsize= (15,12));

##  1- How have salaries changed over time?

In [15]:
salary_year = df.groupby('Year')['TotalPay'].sum()
plt.figure(figsize = (20,8))
plt.plot(salary_year)
plt.title("salary over time", fontsize = 20, fontweight = "bold", color = "darkblue")
plt.ylabel("salary",fontsize = 18)
plt.xlabel("years",fontsize = 18)
plt.show()

##  2- what is the name of highest paid person ?

In [16]:
df[df['TotalPay'] == df['TotalPay'].max()]['EmployeeName']

## 3. what is the name of lowest paid person?

In [17]:
df[df['TotalPay'] == df['TotalPay'].min()]['EmployeeName']

## 4. what is average of basepay of all employees per year?

In [18]:
df.groupby('Year').mean()['TotalPay']

## 5. how many unique job title?

In [19]:
df['JobTitle'].nunique()

## top five most commen jobs

In [20]:
df['JobTitle'].value_counts().head()